<div *ngIf="stats; else loadingOrError" style="width: 300px; margin: auto;">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [type]="'doughnut'"
          [options]="chartOptions">
  </canvas>
  <div style="text-align:center; margin-top: 10px;">
    <p>Total Users: {{ stats.totalUsers }}</p>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="!error">Loading user statistics...</div>
</ng-template>
